@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
	height: 100%;
}

* {
	font-family: 'Crimson Text', serif;
	padding: 0;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

}

#main {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	margin: auto;

	height: 100%;
	width: 80%;
	max-width: 800px;
}

#main:hover, #main:active, #main:focus {
	cursor: pointer;
	outline: none;
}
	#main:focus > * {
		background-color: #F5E4DC;
	}

	#main:focus > p, #main:hover > p, #main:active > p {
		text-decoration: underline;
	}

	#main > * {
		font-size: 2rem;
	}

	#main h2 {
		margin-top: 0.5rem;
		font-weight: normal;
	}

	#main p {
		margin-bottom: 1rem;
		font-weight: bold;
	}

	#main small {
		font-size: 1.25rem;
	}

#footer {
	flex: 0 1 5rem;

	padding: 2.5rem 0 2.5rem 0;
	background-color: #F5E4DC;
}

#footer > * {
	width: 80%;
	max-width: 800px;
	margin: auto;
}

#footer a:link, #footer a:visited {
	color: black;
	text-decoration: underline;
}

#footer a:active, #footer a:hover, #footer a:focus {
	outline: none;
	background-color: black;
	color: white;
}