/** general --**/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

html, body {
	height: 100%;
}

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.emojis {
	padding: 1rem 0;
}

/** main —-- **/

#main {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	margin: auto;

	height: 100%;
	width: 80%;
	max-width: 800px;
}

#main:hover, #main:active, #main:focus {
	cursor: pointer;
	outline: none;
}
	#main:focus > * {
		background-color: #E6DCF9;
	}

	#main:focus > p, #main:hover > p, #main:active > p {
		text-decoration: underline;
	}

	#main > * {
		font-size: 2rem;
	}

	#main h1 {
		margin: 0.25rem 0;
		font-weight: 900;
		color: #7319E1;
	}

	#main p {
		margin: 0.5rem 0 2rem 0;
		font-weight: 400;
		line-height: 150%;
	}

	#main small {
		font-size: 1.25rem;
	}	

/** footer —-- **/

#footer {
	letter-spacing: 0.025rem;
	line-height: 135%;
	flex: 0 1 5rem;

	padding: 2.5rem 0 2.5rem 0;
	background-color: #7319E1;
}

#footer > * {
	width: 80%;
	max-width: 800px;
	margin: auto;
	color: #fff;
}

#footer a:link, #footer a:visited {
	color: #fff;
	text-decoration: underline;
}

#footer a:active, #footer a:hover, #footer a:focus {
	outline: none;
	background-color: #4B1093;
	color: white;
}

.footer-jen {
	float: left;
	padding-right: 0.5rem;
}